*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

nav {
    background-color: #add8e6;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px;
    max-width: 1250px;
    margin: 0 auto;
}

.orange {
    border: 1px black dashed;
    background-color: #daa520;

    padding: 10px;
}

.logo {
    flex-grow: 1;
}

.link {
    text-align: center;
    flex-grow: 2;
}

.login {
    text-align: end;
    flex-grow: 1;
}

header {
    background-color: #00008b;
}

.header-element {
    display: flex;
    justify-content: center;

    padding: 50px;
    max-width: 950px;
    margin: 0 auto;
}

.pink-box {
    border: 1px black dashed;
    background-color: #ee82ee;
    width: 100%;
    height: 420px;
}

.section-white {
    background-color: #ffffff;
}

.section-grey {
    background-color: #d3d3d3;
}


.section-element {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 50px;
    max-width: 1250px;
    margin: 0 auto;
}

.img-box {
    border: 1px black dashed;
    background-color: #1e90ff;
    width: 60%;
    height: 520px;
}

.txt-box {
    border: 1px black dashed;
    background-color: #ffc0cb;
    width: 40%;
    height: 520px;
}

.green-box {
    border: 1px black dashed;
    background-color: #228b22;
    width: 100%;
    height: 935px;
}